@use "./abstracts/colors" as c;
@use "./abstracts/fonts" as f;

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: c.$backgroundWhite;
    .container {
        height: 70vh;
        width: 30vw;
        border: 1px solid gray;
        border-radius: 5px;
        header {
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #d6ccc2;
            border-bottom: 1px solid gray;
            span {
                @extend .h1;
            }
        }
        main {
            height: 75%;
        }
        footer {
            height: 5%;
            border-top: 1px solid gray;
        }
    }
}